<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password Form</title>
</head>
<body>
<h2>Change Password</h2>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form th:action="@{/changepassword}" th:object="${changePassform}" method="post">
            <div th:if="${error}" class="error-message">
                Error: <span th:text="${error}"></span>
            </div>
            <div class="row">
                <label>Username: </label>
                <input type="text" name="username">
            </div>
            <div class="row">
                <label>Old Password: </label>
                <input type="password" name="oldPassword">
            </div>
            <div class="row">
                <label>New Password: </label>
                <input type="password" name="newPassword">
            </div>
            <div class="row button">
                <input type="submit" name="Change">
            </div>
        </form>
    </div>
</div>